[Unit]
Description=Daemon to collect UPS stats for prometheus
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/tripplite_exporter
Restart=on-failure
# Limit to 3 restarts per 30 seconds
RestartSec=5
StartLimitInterval=30
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
